<p-dialog
  [(visible)]="isDialogShown"
  [style]="{
    'width': '95vw',
    'max-width': '320px'
   }"
  header="Jaki masz nastrój?"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [blockScroll]="true"
  [closable]="false"
  [closeOnEscape]="false"
  #dialog>
  <div
    class="emoji"
    [ngClass]="{checked: selected === emoji, unchecked: selected !== emoji}"
    *ngFor="let emoji of emojis"
    (click)="selected = selected === emoji ? '' : emoji;"
  >{{emoji}}</div>
  <ng-template pTemplate="footer">
    <p-button label="Save" icon="pi pi-check" [disabled]="!selected" (click)="onSaveMood()"></p-button>
  </ng-template>
</p-dialog>
