.post-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post {
  .p-card :first-child{
    background: var(--blue-500);
    color: white;
  }
  .p-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
}

.emoji-date {
  font-size: 16px;
}

.emoji {
  font-size: 95px;
}
