.post-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post:first-child {
  .p-card {
    background: var(--blue-500);
    border-radius: 0 0 6px 6px;
  }
}

.post {
  .p-card {
    background: var(--blue-500);
    color: white;
  }
  .p-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
}

.emoji {
  font-size: 95px;
}
