<app-pick-mood *ngIf="isPickMoodShown" [(isDialogShown)]="isPickMoodShown"></app-pick-mood>
<div class="post-list">
  <p-card class="post" *ngIf="!isPickMoodShown" (click)="isPickMoodShown = !isPickMoodShown">
    <div class="author">
      Your status:
      <i class="pi pi-pencil text-2xl"></i>
    </div>
    <div class="emoji">
      {{selectedEmoji}}
    </div>
  </p-card>
  <p-card class="post" *ngFor="let post of posts">
    <div class="author">
      {{post.user.firstName + " " + post.user.lastName}}
    </div>
    <div class="emoji-date">
      <span>{{post.createdAt | date}}</span>
      <span class="emoji">{{emojis[post.emojiId]}}</span>
    </div>
  </p-card>
</div>
